- title '5Thanksへログイン'
.page-header
  %h2 5Thanksへログイン

.row
  .span10
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  
      %fieldset
        .clearfix
          = f.label :email, 'メールアドレス'
          .input
            = f.text_field :email
        .clearfix
          = f.label :password, 'パスワード'
          .input
            = f.password_field :password
            - if devise_mapping.rememberable?
              %ul.inputs-list
                %li
                  %label
                    = f.check_box :remember_me
                    %span パスワードを覚えておく
        .actions
          = f.submit "ログイン", :class => 'btn primary'
  .span6
    = render :partial => "devise/shared/links"
