.page-header
  %h1
    - if @month.this_month?
      今月のあなたの感謝の言葉
    - else
      #{@month.strftime("%Y年%m月")}のあなたの感謝の言葉
  %p
    - unless current_user.thanks.count == 0
      あなたは今日までに<b>#{current_user.thanks.count}個</b>の感謝メモを残しました

.row
  .span10
    - unless @thanks.count > 0
      %p.empty-message
        - if @month.end_of_month.future?
          今月はまだ感謝メモをつけていません。
          %br
          = link_to "さぁ、感謝できることをメモしましょう！", new_thank_path
        - else
          この月は感謝メモがありませんでした
    - else
      %dl
        - if @month.this_month? and not @thanks.keys.first.today?
          - @thanks[Date.today] = []
        - for date in @thanks.keys.sort.reverse
          - thanks = @thanks[date]
          %dt.date
            %span.count
              %span.num= thanks.count
              %span.label thx
            - if date.today?
              - label_when = "今日"
              %time(datetime='') 今日
            - else
              - label_when = "この日"
              %time(datetime='#{date.strftime("%Y-%m-%d")}')= date.strftime("%Y/%m/%d")
          %dd.thanks
            %ol
              - for thank in thanks
                %li(data-thank-id='#{thank.id}')
                  %b= "#{thank.what}へ"
                  %span.destroy(style='display:none;')
                    %a.btn-destroy(href='#') x
                  %br
                  = thank.message
            .system-message
              - if date.today?
                - case 5 - thanks.size
                - when 1,2
                  %p
                    今日はあと#{5-thanks.size}個の感謝を言おう。
                    = link_to "あとちょっと！", new_thank_path
                - when 3,4
                  %p
                    今日はあと#{5-thanks.size}個の感謝を言おう。
                    = link_to "もっと！", new_thank_path
                - when 5
                  %p
                    今日はまだ感謝を言ってないよ。
                    = link_to "ちょっとした事でいいんだよ", new_thank_path
                - else
                  %p
                    今日もいっぱい良いことがあったね！
                    = link_to "もっと感謝したことはある？", new_thank_path
              - else
                - case 5 - thanks.size
                - when 1,2,3,4,5
                  %p
                    もっと感謝できることがあるはずだよ。
                    = link_to "思い出してみて！", new_thank_path(:date => date.strftime("%Y%m%d"))
                - else
                  %p
                    この日もいっぱい良いことがあったね！
                    = link_to "もっと感謝したいことはある？", new_thank_path(:date => date.strftime("%Y%m%d"))
  .span6
    %ul
      - for date in @months
        %li
          = link_to date.strftime('%Y年%m月'), thanks_path(:m => date.strftime('%Y-%m'))
  

          
          
          
          
          
          
          
          