!!!
%html
  %head
    %title
      = yield(:title) || "5Thanks"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css'
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)

  %body(class='#{controller_name}-#{action_name}-page')
    
    .topbar
      .fill
        .container
          %h3
            %a(href='/')
              5Thanks
          - if user_signed_in?
            %ul
              %li= link_to 'あなたの感謝', thanks_path
              %li= link_to '新しい感謝', new_thank_path
            %ul.nav.secondary-nav
              %li= link_to '設定', edit_user_registration_path
              %li= link_to 'ログアウト', destroy_user_session_path, :method => :delete
          - else
            %ul.nav.secondary-nav
              %li= link_to '新規登録', new_user_registration_path
              %li= link_to 'ログイン', new_user_session_path
    
    .container(style='margin-top: 40px; padding-top: 10px')
      - flash.each do |name, msg|
        .alert-message.small(class='#{name}')= msg
    
    .container
      .pageContent
        = yield
    
    .container.footer
      Powered by Heroku, Rails3.1, Twitter Bootstrap
      Create by @func09, 

:javascript
  if($('.alert-message.small').is(':visible')){
    setTimeout(function(){
      $('.alert-message.small').fadeOut()
    }, 3000);
  }
